body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: black;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    color: white;
    text-align: center;
}

#gameHeader {
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#gameTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainLogo {
    height: 120px;
    width: auto;
}

#gameTitle {
    font-size: 24px;
    margin-top: 10px;
}

.teamDisplay {
    display: none;
    flex-direction: column;
    align-items: center;
}

.teamLogo {
    height: 50px;
    width: auto;
    margin-bottom: 10px;
}

.score {
    color: white;
    font-size: 18px;
    margin-bottom: 5px;
}

.healthBar {
    width: 200px;
    height: 20px;
    background-color: grey;
    margin: 0 auto;
    position: relative;
}

.healthBarForeground {
    width: 100%;
    height: 100%;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 0.3s ease;
}

#playerSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

#playerSelection ul, #playerSelection ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sideOption {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.sideOption img {
    height: 100px;
}


#gameCanvas {
    width: 95vw;
    height: auto;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

canvas {
    width: 98vw;
    height: 98vh;
    background-color: #000000;
}
